Label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
 
.informacao {
    -fx-font-size: 10px;
}

Button {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: #914DE4;
    -fx-text-fill: #FFFFFF;
}
    
      